html,
body,
#main {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: $brand-font-regular;
  // overflow-y: scroll; // IE11 Bug with scroll bar: See https://www.sitepoint.com/community/t/content-shifting/110141/9
  background-color: $white;
}

#root {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: $md-gray-20;
}
