.md-modal__content {
  min-height: 15rem !important;
  margin-top: 1rem;

  .md-modal__body {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .md-input__wrapper {
    display: flex;
    justify-content: center;
    padding-top: 1rem;
  }

  .md-input-container {
    width: 30rem;

    .md-input {
      font-size: 0.75rem;
    }

    @media (min-width: 64rem) {
      width: 50rem;
    }
  }

  .buttons {
    padding-right: 2rem;

    button {
      font-size: 0.75rem;

      @media (min-width: 64rem) {
        font-size: 1rem;
      }
    }

    @media (min-width: 64rem) {
      padding-right: 5rem;
    }
  }
}
